/1. MySQL - SQL Basics.pdf
/2. Elevator service.pdf
/aggregation.py
/ER-modeling & Normalization.pdf
/foundations-document-databases-mongodb
/foundations-document-databases-mongodb.zip
/introduction-to-sql.zip
/Links.txt
/notes.txt
/python-3-working-files
/python-3-working-files.zip
/SQL presentation intro.pdf